body {
    margin: 0;
    background-color: rgb(15, 15, 15);
    color:white;
    overflow-y: hidden;
    overflow-x: hidden;
}

.container {
    display:flex;
    height: 100vh;
    margin:auto;
}
.calculator {
    background-color:rgb(38, 54, 79);
    margin:auto;
    border:1px solid black;
    border-radius: 12px;
    padding: 1em;
}
.display-container {
    background-color: grey;
    padding: 1em;
    border-radius: 8px;
}
.display {
    display:flex;
    justify-content: end;
    font-size: 1.25rem;
}
.display-small {
    display:flex;
    justify-content: end;
    font-size: 1rem;
}
.row {
    display:flex;
}

.btn {
    text-align: center;
    background-color: rgb(144, 132, 115);
    height: 2.5em;
    width: 2.5em;
    font-size: 1.25rem;
    margin: 0.3em;
    border-radius: 8px;
    border: none;
    color: black;
}
.btn:hover {
    background-color: rgb(118, 108, 94);;
}
.btn-big {
    flex:1;
}

@media (max-width: 300px) {
    .btn {
        height:2.25em;
        width:2.25em;
    }
    .calculator {
        padding: 1.00em;
    }
    .btn-big {
        flex:1;
    }
}